:root {
    /* Light Mode Colors */
    --bg-light: #FFFFFF;
    --text-light: #333333;
    --text-secondary-light: #666666;
    --accent-light: #0077B6;
    --bg-secondary-light: #F0F0F0;

    /* Dark Mode Colors */
    --bg-dark: #121212;
    --text-dark: #E0E0E0;
    --text-secondary-dark: #B0B0B0;
    --accent-dark: #0099CC;
    --bg-secondary-dark: #333333;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
        color: var(--text-dark);
    }

    /* Specific Dark Mode Styles */
    .secondary-text {
        color: var(--text-secondary-dark);
    }

    .accent {
        color: var(--accent-dark);
    }

    .bg-secondary {
        background-color: var(--bg-secondary-dark);
    }
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--bg-light);
        color: var(--text-light);
    }

    /* Specific Light Mode Styles */
    .secondary-text {
        color: var(--text-secondary-light);
    }

    .accent {
        color: var(--accent-light);
    }

    .bg-secondary {
        background-color: var(--bg-secondary-light);
    }
}