:root {
    --primary: #3C3D37;
    --secondary: #697565;
    --background: #181C14;
    --text: #ECDFCC;
}

.lightmode {
    --primary: #D8D9D1;
    --secondary: #A3AC9F;
    --background: #F4F5F0;
    --text: #2E2F27;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
}

/*******************************************************************************************************/

#theme-toggle {
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 25%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-toggle img:last-child {
    display: none;
}

.lightmode #theme-toggle img:first-child {
    display: none;
}

.lightmode #theme-toggle img:last-child {
    display: block;
}

/*******************************************************************************************************/

.nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0; /*space inside the element (between border and content)*/
    margin: 0; /*space outside the element (separates it from others)*/
    gap: 50px; /*space between link in flex/grid*/
}

.nav-bar a {
    text-decoration: none;
    color: var(--secondary);
}

.nav-bar a:hover {
    color: var(--text);
}

.projects {
    display: grid;
}

.card {
    background-color: var(--primary);
    width: 300px;
    height: 400px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 1px 1px 1px 1px var(--secondary);
    transform: translate(5px, -5px);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.social-icon {
    width: 35px;
    border-radius: 20%;
}

.social-icon:hover {
    background-color: var(--primary);
}