:root {
    --primary: #3C3D37;
    --secondary: #697565;
    --background: #181C14;
    --text: #ECDFCC;
}

.lightmode {
    --primary: #D8D9D1;
    --secondary: #A3AC9F;
    --background: #F4F5F0;
    --text: #2E2F27;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
}

/*******************************************************************************************************/

#theme-toggle {
    width: 50px;
    padding: 0;
    border: none;
    border-radius: 25%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#theme-toggle:hover {
    background: var(--secondary);
}

#theme-toggle img:last-child {
    display: none;
}

.lightmode #theme-toggle img:first-child {
    display: none;
}

.lightmode #theme-toggle img:last-child {
    display: block;
}

/*******************************************************************************************************/

.nav-bar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    /*space inside the element (between border and content)*/
    margin: 0;
    /*space outside the element (separates it from others)*/
    gap: 50px;
    /*space between link in flex/grid*/
}

.nav-bar a {
    text-decoration: none;
    color: var(--secondary);
}

.nav-bar a:hover {
    color: var(--text);
}

.projects {
    display: grid;
}

.carousel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    width: 50%;
    height: 100px;
    overflow: hidden;
    margin-top: 150px;
    border-radius: 20px;
}

.carousel-track {
    display: flex;
    height: 100%;
    width: max-content;
    animation: scroll 15s linear infinite;
    gap: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.carousel-container:hover .carousel-track {
    animation-play-state: paused;
}

.carousel-card {
    flex: 0 0 auto;
    width: 200px;
    height: 100px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 0 1;
}

.carousel-card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*******************************************************************************************************/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.social-icon {
    width: 35px;
    border-radius: 20%;
}

.social-icon:hover {
    background-color: var(--primary);
}